<div class="outer-cont">
  <p class="title" *ngIf="listOfInfoPlayers.freshPage">Tic-Tac-Toe</p>

  <app-model-window
    *ngIf="listOfInfoPlayers.freshPage"
    (formEvent)="receiveFormData($event)"
  ></app-model-window>

  <div
    *ngIf="!listOfInfoPlayers.lastWinner &&
        !(listOfInfoPlayers.counter === 9) &&
        !listOfInfoPlayers.freshPage"
    class="infoTable"
  >
    <p class="currentPlayer">Current Player: {{player}}</p>
    <div class="scoreTable">
      <p class="scoreTableFirst">
        {{listOfInfoPlayers.firstPlayer}}(X):
        {{listOfInfoPlayers.firstScore}}
      </p>
      <p class="scoreTableSecond">
        {{listOfInfoPlayers.secondPlayer}}(O):
        {{listOfInfoPlayers.secondScore}}
      </p>
    </div>
  </div>

  <div
    *ngIf="listOfInfoPlayers.lastWinner || listOfInfoPlayers.counter === 9"
    class="result"
  >
    <p class="title" *ngIf="listOfInfoPlayers.lastWinner">{{listOfInfoPlayers.lastWinner}} won!!!</p>
    <p class="title" *ngIf="listOfInfoPlayers.counter === 9 && !listOfInfoPlayers.lastWinner">Draw!!!</p>
    <button
      mat-raised-button
      class="button-board"
      (click)="newGame('Continue')"
    >Continue
    </button>
    <button
      mat-raised-button
      class="button-board"
      (click)="newGame('NewGame')"
    >Start New Game
    </button>
  </div>

  <div class="board-wrapper"
       *ngIf="!listOfInfoPlayers.lastWinner &&  !(listOfInfoPlayers.counter === 9) && !listOfInfoPlayers.freshPage">
    <app-board-cell
      *ngFor="let val of listOfInfoPlayers.squares; let i = index"
      [value]="val"
      (click)="makeMove(i)"
    ></app-board-cell>
  </div>
</div>
